.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar ul {
  list-style: none;
  text-align: right;
}

.navbar ul li {
  color: white;
  font-size: 2em;
  padding-right: 20px;
  display: inline;
}

.main-section {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1602912667320-655f832b1b63?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.about-section {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1505765050516-f72dcac9c60e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-section {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1607021944040-e4e33431347d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar > .active {
  border-bottom: 1px solid white;
}
