.navbar {
  position: absolute;
  top: 0;
  margin-left: 40px;
  text-align: center;
  
  margin-top: 50px;
}

.main-section {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1602912667320-655f832b1b63?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.main-button {
  color:#8C8C8C;
  font-size: 20px;
  padding-right: 40px;
  display: inline;
  font-family: 'Playfair Display', serif;

}

.main-content {
  position: absolute;
  
  margin-top: 200px;
  text-align: center;

}

.main-secondary-content {
  position: absolute;

  margin-top: 700px;
  text-align: center;
  color: #d0c8c7
 

}

.port-section{
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1516181569701-7b841d20c0a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-repeat: no-repeat;
  background-size: cover;

}

.port-button {
  color:#8C8C8C;
  font-size: 20px;
  padding-right: 40px;
  display: inline;
  font-family: 'Playfair Display', serif;

}

.about-button {
  color: #8C8C8C;
  font-size: 20px;
  padding-right: 40px;
  display: inline;
  font-family: 'Playfair Display', serif;

}

.contact-button {
  color: #8C8C8C;
  font-size: 20px;
  padding-right: 40px;
  display: inline;
  font-family: 'Playfair Display', serif;

}

.main-button:hover{
  color: #262626;
}
.about-button:hover{
  color: #262626;
}
.contact-button:hover{
  color: #262626;
}



.about-section {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1505765050516-f72dcac9c60e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-section {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1607021944040-e4e33431347d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}


.p-about {
  
  font-family: 'Playfair Display', serif;
  
  color: #242222;
  font-size: 50px;
  animation: fadein 4s;

  opacity: 1;
  
}

.h1-about {

  font-family: 'Playfair Display', serif;
  font-size: 100px;
  color:#242222


}

@keyframes fadein {
  
  from {opacity: 0;}
  to {opacity: 1;}
}

.section1 {
  margin-top: 100px;
  position: absolute;
  right: 100px;
  left: 100px;
}

.section2 {
  margin-top: 700px;
  position: absolute;
  right: 100px;
  left: 100px;
}

.height-carousel {
  margin-top: 100px;
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}



.carousel-control-next-icon{
  margin-top: 200px;
}

.carousel-control-prev-icon{
  margin-top: 200px;
}

.button-move {
  margin-left: 20px;
}

.rounded {
  height: 200px;
}

.contact {
  margin-top: 200px;
}

.main-about{
  margin-top: 200px;
  text-align: center;
}
.secondary-main{
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
  color:#242222;
  z-index: 0;
  text-align: center;
  position: relative;
  

}

.colorChange {
  color: #d0c8c7;
}
.icons{
  margin-top: 50px;
}



.react-pdf__Page__canvas{
  
  margin-top: 20px;
  max-width: 100%;
  height: 400px;
  z-index: 2;
  overflow: scroll;
}

.resumeBtn{
  margin-bottom: 20px;
}

.react-pdf__Document{
  z-index: 2;
  
}
