.navbar {
  position: absolute;
  top: 0;
  margin-left: 40px;
  text-align: center;
  
  margin-top: 50px;
}

.main-section {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1602912667320-655f832b1b63?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.main-button {
  color:#8C8C8C;
  font-size: 20px;
  padding-right: 70px;
  display: inline;
  font-family: 'Playfair Display', serif;

}

.main-content {
  position: absolute;
  
  margin-top: 200px;
  text-align: center;

}

.main-secondary-content {
  position: absolute;

  margin-top: 700px;
  text-align: center;
  color: white
 

}

.about-button {
  color: #8C8C8C;
  font-size: 20px;
  padding-right: 70px;
  display: inline;
  font-family: 'Playfair Display', serif;

}

.contact-button {
  color: #8C8C8C;
  font-size: 20px;
  padding-right: 70px;
  display: inline;
  font-family: 'Playfair Display', serif;

}

.main-button:hover{
  color: #262626;
}
.about-button:hover{
  color: #262626;
}
.contact-button:hover{
  color: #262626;
}



.about-section {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1505765050516-f72dcac9c60e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-section {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1607021944040-e4e33431347d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}


.p-about {
  
  font-family: 'Playfair Display', serif;
  
  color: white;
  font-size: 50px;
  animation: fadein 4s;

  opacity: 1;
  
}

.h1-about {

  font-family: 'Playfair Display', serif;
  font-size: 150px;
  color: white


}

@keyframes fadein {
  
  from {opacity: 0;}
  to {opacity: 1;}
}

